:root {
    --page-color: white;
    --text-color: #2c3e50;
    --question-color: bisque;
    --answer-color: darkseagreen;
    --box-shad-color: rgba(0, 0, 0, 0.2);
    --text-shad-color-1: #333;
    --text-shad-color-2: #333;
    --invert-1: invert(1);
    --invert-2: invert(0);
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background-color: var(--page-color);
    -ms-overflow-style: none;
    overflow-y: scroll;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.white-block {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--page-color);
    box-shadow: 0 0 10px var(--box-shad-color);
    z-index: 1;
}

.application-name {
    position: fixed;
    top: 10%;
    left: calc(50% - 850px);
    width: 100px;
    font-size: 50px;
    line-height: 60px;
    margin: 0;
}

.arrow {
    display: none;
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url('../assets/icons/arrow.svg');
    transform: rotate(90deg);
}

.switcher {
    position: fixed;
    top: 35%;
    left: calc(50% - 750px);
    margin: 0 0 0 -50px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
}

.switcher__legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.switcher__radio {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    transition: filter 0.1s ease-in;
}

.switcher__radio:focus {
    outline: none;
}

.switcher__radio--light {
    background-image: url('../assets/icons/light.svg');
}

.switcher__radio--auto {
    background-image: url('../assets/icons/auto.svg');
}

.switcher__radio--dark {
    background-image: url('../assets/icons/dark.svg');
}

.switcher__status {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px black;
    border-radius: 18px;
    background-color: rgb(255 255 255 / 0.5);
    background-repeat: no-repeat;
    background-image: url('../assets/icons/status.svg');
    background-size: 32px;
    background-position: center;
    transition: background-position 0.1s ease-in;
}

.switcher__radio--light:checked ~ .switcher__status {
    background-position: left 2px center;
}

.switcher__radio--auto:checked ~ .switcher__status {
    background-position: center center;
}

.switcher__radio--dark:checked ~ .switcher__status {
    background-position: right 2px center;
}

.arrow {
    filter: var(--invert-2);
}

.switcher__radio {
    filter: var(--invert-2);
}

.switcher__radio:checked {
    filter: var(--invert-1);
}

.switcher__status {
    filter: var(--invert-2);
}


.chat {
    width: 1000px;
    margin: 0 auto;
    padding: 60px 10px;
    flex: 1 0 auto;
}

.chat__segment {
    position: relative;
    display: flex;
    flex-direction: column;
}

@keyframes move {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    50% {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.question {
    align-self: flex-start;
}

.question__body {
    display: inline-block;
    padding: 5px;
    margin-bottom: 20px;
    background-color: var(--question-color);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--box-shad-color);
    transition: 0.3s;
    animation: move 0.7s ease-out;
}

.question__title {
    text-align: justify;
    margin: 15px 15px;
    font-size: 20px;
}

.answers {
    align-self: flex-end;
    position: relative;
}

.answers__body {
    display: inline-block;
    padding: 5px;
    margin-bottom: 20px;
    background-color: var(--answer-color);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--box-shad-color);
    animation: move 1s ease-out;
}

.answer {
    opacity: 1;
    margin: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 0 0 0 var(--text-shad-color-1), 0 0 0 var(--text-shad-color-1);
    transition: font-size 0.5s, opacity 0s, margin 0.5s;
}

.answer1 {
    opacity: 0;
}

.answer:hover {
    text-shadow: 0 0 1px var(--text-shad-color-2), 0 0 1px var(--text-shad-color-2);
}

.help {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: calc(50% - 165px);
    max-width: 260px;
    padding: 15px 30px;
    background-color: var(--answer-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shad-color);
    animation: move 1s ease-out;
}

.hidden {
    font-size: 0;
    margin: 0;
    opacity: 0;
}

.chosen {
    text-shadow: 0 0 1px var(--text-shad-color-2), 0 0 1px var(--text-shad-color-2);
}

@media screen and (max-width: 1760px) {
    .application-name {
        left: calc(50% - 660px);
        font-size: 45px;
    }

    .switcher {
        left: calc(50% - 560px);
    }

    .chat {
        width: 800px;
    }
}

@media screen and (max-width: 1440px) {
    .application-name {
        left: calc(50% - 500px);
        font-size: 35px;
    }

    .switcher {
        left: calc(50% - 425px);
    }

    .chat {
        width: 600px;
    }

    .question__body {
        border-radius: 30px;
    }

    .question__title {
        font-size: 15px;
        margin: 10px 15px;
    }

    .help {
        font-size: 15px;
    }

    .answers__body {
        border-radius: 30px;
    }

    .answer, .answer1 {
        font-size: 15px;
        margin: 10px 25px;
    }

    .hidden {
        font-size: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .application-name {
        left: calc(50% - 380px);
        font-size: 28px;
        line-height: 40px;
    }

    .switcher {
        top: 25%;
        left: calc(50% - 320px);
    }

    .chat {
        width: 450px;
    }
}

@media screen and (max-width: 768px) {
    .white-block {
        display: block;
    }

    .application-name {
        top: 10px;
        left: 5%;
        width: auto;
        font-size: 20px;
        line-height: 40px;
        z-index: 1;
    }

    .arrow {
        display: block;
        position: fixed;
        z-index: 1;
        top: 90%;
    }

    .switcher {
        z-index: 1;
        top: 90%;
        left: -100px;
    }

    .chat {
        width: auto;
        margin: 40px 30px 0 30px;
    }
}

@media screen and (max-width: 580px) {
    .switcher {
        //left: 15%;
    }

    .chat {
        margin: 40px 10px 0 10px;
        padding: 60px 10px 20px 10px;
    }

    .question {
        max-width: 80%;
    }

    .question__title {
        font-size: 12px;
        margin: 5px 15px;
    }

    .help {
        font-size: 12px;
        left: calc(50% - 150px);
    }

    .answers, .answer1 {
        max-width: 80%;
    }

    .answer {
        font-size: 12px;
        margin: 15px 15px;
    }

    .hidden {
        font-size: 0;
        margin: 0;
    }

    .chosen {
        margin: 5px 15px;
    }

    .result__title {
        font-size: 20px;
    }
}

.result {
    display: inline-block;
    width: 100%;
    text-align: center;
    animation: move 1s ease-out;
    flex: 0 0 auto;
}

.result__title {
    font-size: 30px;
}

.to-input {
    outline: none;
    border: none;
    width: 25px;
    text-align: center;
    background-color: inherit;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    margin: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    -webkit-appearance: none;
    transition: width 0.5s;
}

.to-input:disabled {
    border-bottom: 0;
    color: var(--text-color);
    text-shadow: 0 0 1px var(--text-shad-color-2), 0 0 1px var(--text-shad-color-2);
}

.big-margin {
    margin-bottom: 60px;
}

.another-position {
    top: 100%;
    left: -240%;
    max-width: 400px;
}

@media screen and (max-width: 1440px) {
    .to-input {
        font-size: 15px;
        margin: 10px 15px;
    }

    .another-position {
        left: -350%;
    }
}

@media screen and (max-width: 580px) {
    .to-input {
        font-size: 12px;
        margin: 5px 15px;
    }

    .another-position {
        left: -300%;
    }
}

.maybe {
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    border: var(--answer-color) solid 2px;
    font-weight: bold;
    color: var(--answer-color);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--box-shad-color);
    background-color: inherit;
    cursor: pointer;
    animation: move 0.7s ease-out;
    transition: 0.3s;
}

.maybe:active {
    box-shadow: 0 0 0 var(--box-shad-color);
}

.tester-anim {
    opacity: 1;
    animation: move 0.7s ease-out;
    transition: 0.3s;
}

@media screen and (max-width: 1024px) {
    .maybe {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .maybe {
        font-size: 12px;
    }
}

.percent {
    position: fixed;
    line-height: 120px;
    top: 10%;
    right: calc(50% - 750px);
}

.percent__title {
    font-size: 50px;
    margin: 0;
}

@media screen and (max-width: 1760px) {
    .percent {
        right: calc(50% - 600px);
    }

    .percent__title {
        font-size: 45px;
    }
}

@media screen and (max-width: 1440px) {
    .percent {
        right: calc(50% - 450px);
    }

    .percent__title {
        font-size: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .percent {
        line-height: 80px;
        right: calc(50% - 350px);
    }
}

@media screen and (max-width: 768px) {
    .percent {
        top: 10px;
        line-height: 40px;
        right: 5%;
        z-index: 1;
    }

    .percent__title {
        font-size: 30px;
    }
}

