

// Color variables standard
$page-color: #fff;
$text-color: #2c3e50;
$question-color: bisque;
$answer-color: darkseagreen;
$box-shad-color: rgba(0, 0, 0, 0.2);
$text-shad-color-1: #333;
$text-shad-color-2: #333;
$invert-1: invert(1);
$invert-2: invert(0);


